@import '~antd/dist/antd.css';

body{
  display: flex;
  justify-content: center;
  background-color: #eee;
}

.App {
  width: 800px;
  position: relative;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.App > .content {
  flex-grow: 1;
}

@media screen and (max-width:800px) {
  .App{
    width: calc(100vw - 2em);
  }
}